body{
    background: rgb(2,0,36);
    background: -moz-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,65,121,1) 71%, rgba(15,68,185,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,65,121,1) 71%, rgba(15,68,185,1) 100%);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,65,121,1) 71%, rgba(15,68,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#0f44b9",GradientType=1);
}
.botoes ul li{
    list-style: none;
    display:inline-block;
    padding: 2%;
    margin: 0.9%;
}
header{
    background-color: red;
    width: 100%;
    display: block;
}